* {
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.barSide {
    margin-right: 10px;
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    flex-direction: column;    
}

.mapsOptions{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mapsOptions li, .user{
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border: solid 3px #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    background: red;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
}

.mapsOptions li:hover, .user:hover {
    animation: houverMiniMaps 0.5s forwards;
    
}

@keyframes houverMiniMaps {
    from{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    to {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
}

.user{
    display: flex;
    justify-content: end;
    background: #fff;
    
}

.user img {
    width: 45px;
    height: 45px;
    border-radius: 6px;
}


.user.active{
    width: 290px;
    height: 180px;
    transition: 0.5s;
}

.info {
    display: none;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
    margin: 10px;
    font-size: 16px;
}

.info span{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

.user.active .info{
    display: flex;
}

.info li {
    margin-top: 10px;
}







