* {
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.barSide {
    margin-right: 10px;
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    flex-direction: column;    
}

.mapsOptions{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}



.mapsOptions li, .user{
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border: solid 3px #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    background: red;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
}

.mapsOptions li:hover, .user:hover {
    animation: houverMiniMaps 0.5s forwards;
    
}

@keyframes houverMiniMaps {
    from{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    to {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
}

.user{
    display: flex;
    justify-content: end;
    background: #fff;
    
}

.user img {
    width: 45px;
    height: 45px;
    border-radius: 6px;
}


.user.active{
    width: 290px;
    height: 180px;
    transition: 0.5s;
}

.info {
    display: none;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
    margin: 10px;
    font-size: 16px;
}

.info span{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

.user.active .info{
    display: flex;
}

.info li {
    margin-top: 10px;
}

.pointData{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 999 ;
    background: #fff;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pointData.active{
    display: flex;
    animation: showPointData 0.5s forwards;
}

@keyframes showPointData {
    from{
        opacity: 0.5;
        top: 65%;
    }
    to {
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    display: inline-block;
    padding: 5px;
    width: 20px;
    border-radius: 6px;
    color: #fff;
    background: red;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close:hover{
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    transition: 0.3s;
}

.graphic {
    margin-top: 20px;
    width: 90%;
    height: 80%;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin-top: 15px;
}


.leaflet-popup-content{
    display: flex;
    flex-direction: column;
}

.leaflet-popup-content .btn-data {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.leaflet-popup-content .btn-data:hover {
    color: #fff;
    background-color: #000;
} 

.contem {
    display: none;
    color: red;
}

.contem.active {
    display: block;
}









